<ion-header>
  <ion-toolbar color="danger">
    <ion-title>General Conditions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Conditions of Transportation</ion-card-title>
    </ion-card-header>
         <ion-card-content>
          <h2>What type of goods can I have transported?</h2>
          There are lots of possibilities for transport. We list them with the proper classifications and shipping names. 
          This will facilitate communication with the drivers and carriers within the Wabo Transport Logistic network, 
          and it allows you to easily discover whether there is a suitable solution for the transport of your goods
          <h2>What type of goods can I have transported?</h2>
          <h2>What type of goods can I have transported?</h2>
        </ion-card-content>
   </ion-card>

</ion-content>
